.body{
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 1280px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #947c62;
    width: 100%;
    height: 43px;
    padding: 10px;
}
