.body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 86px;
    height: 86px;
    background-color: #202542;
    border-style: solid;
    border-width: 4px;
    border-color: #957d63;
    border-radius: 50%;
}
